.places__image {
  width: 460px;
  height: 460px;
}

@media screen and (max-width: 1124px) {
  .places__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 984px) {
  .places__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 670px) {
  .places__image {
    width: 310px;
    height: 310px;
  }
}

@media screen and (max-width: 568px) {
  .places__image {
    width: 320px;
    height: 320px;
  }
}
