.places__link {
  color: #FFF;
  text-align: start;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 456px;
  margin: 0;
  transition: 0.5s;
}

.places__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 670px) {
  .places__link {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 568px) {
  .places__link {
    font-size: 18px;
    line-height: 22px;
  }
}
