.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 48px;
  padding: 0;
}

@media screen and (max-width: 984px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    margin: 0 16px;
  }
}
