.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 984px;
  margin: 0 auto 0 11.56vw;
}

@media screen and (max-width: 1124px) {
  .intro {
    margin: 0 auto 0 4.69vw;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 568px) {
  .intro {
    margin: 0 auto 0;
  }
}
