.footer {
  box-sizing: border-box;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 984px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
